@charset "utf-8";
@font-face
{
	font-family: 'SegoeUI_Regular';
	src: url('../fonts/segoeui.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_Semibold';
	src: url('../fonts/seguisb.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_Bold';
	src: url('../fonts/segoeuib.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_SemiItalic';
	src: url('../fonts/seguisbi.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Bebas_Bold';
	src: url('../fonts/BebasNeueBold.ttf')  format('truetype');
}
.contact-imfo-box .container{
	display: flex;
    padding: 10px;
	margin-left: 15px;
	position: relative;
}

.account {
	position: absolute;
	right: 0px;
}

.contact-imfo-box{
	background: #D9D9D9;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: left;
	color: #828282;
	font-size: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.contact-imfo-box p {
    margin: 0px 0px 0px 20px;
    color: #828282;
	text-align: left;
	line-height: 10px;
    font-weight: 600;
    font-size: 12px;
    font-family: "SegoeUI_Regular";
	font-style: italic;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0px;
	padding: 0;
}
.lead a:hover
{
	color: #fff;
	text-decoration: none;
}
.account a:hover
{
	text-decoration: none;
}

.acc-options
{
	display: none;
	top: 7px;
}
.acc-options ul
{
	list-style-type: none;
	text-align: right;	
}
.acc-options ul li
{
	font-family: 'SegoeUI_Semibold';
	font-size: 13px;
}
.acc-options ul li a
{
	color: #000;
}
.acc-options ul li a:hover
{
	color: #1488DB;
	text-decoration: none;
}
.line{
	background: #1488DB;
	position: relative;
    padding: 2px;
    margin: 0;
}
body
{
	margin: 0;
	padding: 0;
	font-family: 'SegoeUI_Regular';
}

.footer
{
    background: url(../images/background.png);
    height: 311px;
}
.footer-logo{
	padding: 10px 80px;
}

.footer-above .text{
	margin: 80px 20px;
}

.redirection-list{
	margin: 0;
}

.redirection-list ul li{
	display: inline;
	margin: 60px;
}

.list-inline-item a img{
	width: 30px;
	left: 0%;
	bottom: 0%;
	margin-left: 20px;
}

.row div ul, .catalogue-title ul li{
	list-style-type: none;
	padding: 10px 50px;
	font-family: "Bebas_Bold";
	font-size: 20px;
	color: #FE7A19;
}

.catalogue li{
	display: inline;
	padding: 20px;
	font-family: "SegoeUI_Regular";
	font-size: 15px;
	color: #FFFFFF;
}

.catalogue
{
	margin-left: -150px;
}

.catalogue li a{
	color: #FFFFFF;
}
.catalogue li a:hover{
	color: #FDCF76;
	text-decoration: none;
}
.footer-side{
	margin-top: 40px;
}
.copyright{
	color: #FE7A19;
	position: relative;
	left: 80px;
	bottom: 0%;
	padding-top: 30px;
}

#up-button-image{
	display: block;
	position: absolute;
	left: 118px;
	width: 25%;
}

.path {
	padding-left: 50px;
	padding-top: 40px;
	color: #FE7A19;
	background: #FCE8DA;
}
.path a
{
	color: #FE7A19;
	font-family: 'SegoeUI_Semibold';
	font-size: 15px;
}
.path a:hover
{
	text-decoration: none;
	color: #000;
}

.profile-section
{
	padding: 10px 0 30px 0;
	background: #FCE8DA;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
	background: #fff;
}
.profile-img{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
}
.profile-img img{
    width: 250px;
	height: auto;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -25%;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
	font-family: 'SegoeUI_Bold';
    color: #000;
}
.profile-head h6{
	font-family: 'SegoeUI_Semibold';
    color: #FE7A19;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2% 3% 2% 3%;
    font-weight: 600;
	color: #fff;
	background: #1488DB;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
	font-weight:600;
	color: #FE7A19;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #FE7A19;
}

.profile-work{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
.profile-work p{
    font-size: 15px;
    color: #000;
	margin-top: 10%;
	text-align: center;
	font-weight: 600;
}
.profile-work a{
    text-decoration: none;
    color: #343535;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.u-icon
{
	color: #FE7A19;
	padding-right: 8px;
}
.profile-tab label{
	font-weight: 600;
	color: #000;
}
.profile-tab p{
	font-weight: 600;
    color: #FE7A19;
}

.edit-form p
{
	color: #000;
}