{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Site Metas -->
        <title>Danh sách đơn hàng</title>
        <link rel = "icon" href = "{% static 'webapp/images/logo-icon.ico' %}"  type = "image/x-icon">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/styles/font-awesome.min.css' %}">  
        <link rel="stylesheet" href="{% static 'kitchen/styles/orderlist.css' %}">
        
        <!-- Purecss -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    
    <body>
        <div class="list-order">
            <div class="row">
                <img src="{% static 'webapp/images/logo.png' %}"/>
                <h1>DANH SÁCH ĐƠN HÀNG</h1>
            </div>
        </div>
        <div class="pagination" style="margin: 30px 0 0 30px">
            <span class="step-links">
                <div class="current">
                    Trang 1 trên 1<!--{{ page_obj.number }} trên {{ page_obj.paginator.num_pages }}.-->
                </div>
                <br>
                <!--{% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Trang đầu</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Trang trước</a>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Trang tiếp</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Trang cuối &raquo;</a>
                {% endif %}  --> 
            </span>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Trạng thái</th>
                    <th>Thời gian</th>
                    <th>Khách hàng</th>
                    <th>Tổng cộng</th>
                </tr>
                <tr>
                    <td><a href="#">#126</a></td>
                    <td>
                        <select>
                            <option value="0">Đã thanh toán</option>
                            <option value="1">Xác nhận</option>
                            <option value="2">Đang chuẩn bị</option>
                            <option value="3">Sẵn sàng</option>
                        </select>
                    </td>
                    <td>01/07/2020 09:30</td>
                    <td>PoetChaos</td>
                    <td>58,000đ</td>
                </tr>
                <tr>
                    <td><a href="#">#124</a></td>
                    <td>
                        <select>
                            <option value="0">Đã thanh toán</option>
                            <option value="1">Xác nhận</option>
                            <option value="2">Đang chuẩn bị</option>
                            <option value="3">Sẵn sàng</option>
                        </select>
                    </td>
                    <td>01/07/2020 09:28</td>
                    <td>Nguyen Anh</td>
                    <td>85,000đ</td>
                </tr>
                <tr>
                    <td><a href="#">#120</a></td>
                    <td>
                        <select>
                            <option value="0">Đã thanh toán</option>
                            <option value="1">Xác nhận</option>
                            <option value="2">Đang chuẩn bị</option>
                            <option value="3">Sẵn sàng</option>
                        </select>
                    </td>
                    <td>01/07/2020 09:25</td>
                    <td>Tran Khang</td>
                    <td>50,000đ</td>
                </tr>
                <tr>
                    <td><a href="#">#118</a></td>
                    <td>
                        <select>
                            <option value="0">Đã thanh toán</option>
                            <option value="1">Xác nhận</option>
                            <option value="2">Đang chuẩn bị</option>
                            <option value="3">Sẵn sàng</option>
                        </select>
                    </td>
                    <td>01/07/2020 09:20</td>
                    <td>test</td>
                    <td>28,000đ</td>
                </tr>
            </table>
        </div>
        <!--<script src="{% static 'kitchen/js/select.js' %}"></script>-->
        <!--<script>
            var select_all = document.getElementById("all"); 
            var checkboxes = document.getElementsByName("check"); 

            select_all.addEventListener("change", function(e){
                for (i = 0; i < checkboxes.length; i++) { 
                    checkboxes[i].checked = select_all.checked;
                }
            });


            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('change', function(e){ 
                    if(this.checked == false){
                        select_all.checked = false;
                    }
                    if(document.querySelectorAll('.checkbox:checked').length == checkboxes.length){
                        select_all.checked = true;
                    }
                });
            }
        </script>-->
    </body>
</html>