{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Đăng nhập</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'users/styles/bootstrap.min.css' %}">   
	<link rel="stylesheet" href="{% static 'users/styles/font-awesome.min.css' %}">    
    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'users/styles/signup.css' %}">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
    
<body>
    <!-- Start Contact info -->
    <div class="line"></div>
	<div class="contact-imfo-box">
		<div class="container">
			<p class="lead">
				<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
			</p>
			<p class="lead">
				<i class="fa fa-phone"></i>(028)38-647-XXX
			</p>
			<p class="lead">
				<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
			</p>
            <div class="row info">
				<a href="#">
					<p>Trợ giúp</p>
				</a>
				<i class="fa fa-info-circle"></i>
			</div>
        </div>
    </div>
					
				
	<!-- End Contact info -->
    

	<!--+++++++++++ BEGIN SIGN IN FORM +++++++++++++-->
	<div class="nen_cam_nhat" style="height: 750px;">
		<div class="dan_dong"></div>
		<div class="nen_cam_dam" style="height: 700px; padding-top: 0px; margin-top: 10px;">
			<div class="dan_dong"></div>

			<div class="content-section" style="margin: 100px; margin-top: 60px">
				<div class="row">
					<div class="col-xl-6">
						<img src="{% static 'users/images/large-logo.png' %}" 
						style="width: 300px; height: 300px;">
					</div>
					<div class="col-xl-6" style="background-color: white;  border-radius: 10px; ">
						<form method="POST">
							{% csrf_token %}
							<fieldset class="form-group" style="margin-top: 30px; font-size: 17px">
								<legend class="border-bottom mb-4" style="font-size: 30px"><b><u style="text-decoration-color: #FE7A19;">ĐĂNG NHẬP</u></b></legend>
								{{ form|crispy }}
							</fieldset>
							<div class="form-group">
								<button class="btn btn-outline-info" type="summit" 
								style="font-size: 17px; background-color: #FE7A19;; color: white;">Đăng nhập</button>
							</div>
						</form>
						<div class="border-top pt-3"style="margin-bottom: 30px">
							<small class="text-muted" style="font-size: 15px">
								Chưa có tài khoản? <a class="ml-2" href="{% url 'register' %}"> Đăng ký ngay</a>
							</small>
						</div>
					</div>
				</div>
			</div>

			<div class="dan_dong"></div>
			<div class="dan_dong"></div>
		</div>
	</div>
	<!--+++++++++++ END SIGN IN FORM +++++++++++++-->

	<!--================Footer =================-->
	<section class="footer">
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="{% url 'home-page' %}"><img src="{% static 'users/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-xl-4 copyright">
				Copyright © 2020 BK Food Court. All rights reserved.
			</div>
			<div class="col-xl-5">
				<div class="up-button">
					<a href="#"><img id="up-button-image" src="{% static 'users/images/Subtraction 3.png' %}"></a>
				</div>
			</div>
			<div class="col-xl-3">
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="https://fb.com/biennguyen93"><img src="{% static 'users/images/facebook (2).png' %}"></a></li>
					<li class="list-inline-item"><a href="https://bom.to/XDFsqS"><img src="{% static 'users/images/google-plus.png' %}"></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/biennguyen93"><img src="{% static 'users/images/twitter.png' %}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	</section>	
	<!--================Footer =================-->
</body>
</html>
