{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Thanh toán</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">    
    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <!-- Site CSS -->
    <!-- <link rel="stylesheet" href="css/style.css">     -->
    <!-- Responsive CSS -->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'webapp/styles/pay_by_account.css' %}">
	
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
    
<body>
    <!-- Start Contact info -->
    <div class="line"></div>
	<div class="contact-imfo-box">
		<div class="container">
			<p class="lead">
				<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
			</p>
			<p class="lead">
				<i class="fa fa-phone"></i>(028)38-647-XXX
			</p>
			<p class="lead">
				<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
			</p>
			<div class="row account">
				<a id="acc" href="#">
					<p class="lead" onclick="showAccOptions()">{{ user.username }}</p>
					<div id ="op-active" class="acc-options">
						<ul>
							<li><a href="#">Thông tin tài khoản</a></li>
							<li><a href="#">Cài đặt</a></li>
							<li><a href="#">Đăng xuất</a></li>
						</ul>
					</div>
				</a>
				<i class="fa fa-user"></i>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
	<!--================Header Menu Area =================-->
	<header>
		<div id="menu_bar"></div>
			<ul>
				<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
				<li><a href="{% url 'about' %}">Giới thiệu</a></li>
				<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
				<li><a href="{% url 'preference' %}">Ưu đãi</a></li>					
			</ul>
			<div class="search">
				<form>
					<input type="text" placeholder="  Tìm kiếm">
					<button><img src="{% static 'webapp/images/search.png' %}"></button> 
				</form>
			</div>
			<div class="logo_area">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
	</header>
	<section class="stall-list">
		<div class="row">
			<!-- <div class="col-xl-3">
			
			</div> -->
			<div class="col-xl-12">
				<div class="row main-menu">
					<img id="orange-half-circle" src="{% static 'webapp/images/image 22.png' %}"/>
					<div class="order-icon">
						<a href="#"><img src="{% static 'webapp/images/wallet.png' %}" style="width: 50%; padding-top: 80px"></a>
						<div id="menu">
							<a href="#">THANH TOÁN</a>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-xl-3">
	
			</div> -->
		</div>
	</section>
	<!--================Header Menu Area =================-->

	<!--================Payment Area =================-->
	<div class="homepage-menu">
		<div class="path">
			<a href="{% url 'home-page' %}">Trang chủ</a> > <a href="pay_by_account.html"> Thanh toán bằng tài khoản</a>
		</div>

		<div class="stall-menu">
            <div class="row" style="padding: 50px 100px 0px 100px;">
				<div class="col-xl-6" style="font-family: 'SegoeUI_Semibold'; font-size: 20px">
                    customer09
                </div>
            </div>
            <div class="row" style="padding: 50px 100px;">
                <div class="col-xl-6" style="font-family: 'SegoeUI_Regular'; font-style: italic; font-size: 20px">
                    Tài khoản hiện có:
                </div>
                <div class="col-xl-6 account-balance">
                    100.000đ
                </div>
            </div>
			<div class="stall-name">TÀI KHOẢN</div>
		</div>
        <div class="line"></div>

        <div class="stall-menu">
            <div class="row" style="padding: 50px 100px 0px 100px;">
				<div class="col-xl-6" style="font-family: 'SegoeUI_Semibold'; font-size: 20px">
                    Mã đơn hàng
                </div>
                <div class="col-xl-6" style="text-align: right; font-size: 20pt; font-family: 'SegoeUI_Bold'">
                    OID134630052020
                </div>
            </div>
            <div class="row" style="padding: 50px 100px;">
                <div class="col-xl-6" style="font-family: 'SegoeUI_Semibold'; font-size: 20px">
                    Tổng giá trị đơn hàng:
                </div>
                <div class="col-xl-6" style="text-align: right; font-size: 30pt; color: #FE7A19; font-weight: bold;">
                    80.000đ
                </div>
            </div>
			<div class="stall-name">CHI TIẾT THANH TOÁN</div>
		</div>
        <div class="line"></div>

        <div class="stall-menu" style="margin: 100px 300px;">
            <div class="row" style="padding: 50px 100px 0px 100px; text-align: center;">
                <div class="col-xl-12" style="font-size: 25pt;font-weight: 600; font-family: Bebas_Bold;">TÀI KHOẢN SAU KHI THANH TOÁN</div>  
            </div>
            <div class="line" style="background: #FE7A19;"></div>
            <div class="row" style="padding: 20px">
                <div class="col-xl-6 account-info">
                    Hiện có:
                </div>
                <div class="col-xl-6 account-balance">
                    100.000đ
                </div>
            </div>
            <div class="row" style="padding: 20px">
                <div class="col-xl-6 account-info">
                    Sử dụng:
                </div>
                <div class="col-xl-6 account-balance">
                    80.000đ
                </div>
            </div>
            <div class="line" style="margin: 0px 20px;padding: 1px; background: #000000;"></div>
            <div class="row" style="padding: 20px">
                <div class="col-xl-6 account-info">
                    Còn lại:
                </div>
                <div class="col-xl-6 account-balance" style="color:#FE7A19">
                    20.000đ
                </div>
            </div>
		</div>


        <div class="row" style="padding: 0px 200px 100px 200px;">
            <div class="col-xl-6"><button style="font-family: 'SegoeUI_Semibold'; font-size: 18px; border-radius: 20px; border: 2px solid; border-color: #1488DB;color:#1488DB; background: #FFFFFF;padding: 5px 50px">Trở lại</button></div>
            <div class="col-xl-6" style="text-align: right;"><button style="font-family: 'SegoeUI_Semibold';  font-size: 18px; border-radius: 20px; border: none;background:#1488DB; color: #FFFFFF;padding: 5px 50px" onclick="openForm()">Xác nhận</button></div>
        </div>
		
	</div>

	<div class="form-popup" id="myForm">
		<form action="{% url 'bill' %}" class="form-container">
			<p style="color: #FE7A19; font-size: 25px; font-family: 'Bebas_Bold';">Thanh toán bằng tài khoản</p>
			<label for="psw"><b>Xác nhận mật khẩu</b></label>
    		<input type="password" placeholder="Nhập mật khẩu" name="psw" required>
		
			<button type="button" class="btn cancel" onclick="closeForm() "><b>Hủy</b></button>
			<button type="submit" class="btn"><b>Xác nhận</b></button>
		</form>
	</div>
	<script>
		function goback()
		{
			window.location.href = 'shopping_cart.html';
		}
		function openForm() {
		document.getElementById("myForm").style.display = "block";
		}
		function closeForm() {
			document.getElementById("myForm").style.display = "none";
		}
	</script>
	<!--================Payment Area =================-->

	<div class="form-popup" id="myForm">
		<div>Nhập mật khẩu</div>
		<form action="{% url 'bill' %}" class="form-container">
			<input type="text" placeholder="Password" name="veri_pass" required>
			<button type="submit" class="btn" onclick="closeForm()">Xác nhận</button>
		</form>
	</div>

	<!--================Footer =================-->
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-xl-4 copyright">
				Copyright © 2020 BK Food Court. All rights reserved.
			</div>
			<div class="col-xl-5">
				<div class="up-button">
					<a href="#"><img id="up-button-image" src="{% static 'webapp/images/Subtraction 3.png' %}"></a>
				</div>
			</div>
			<div class="col-xl-3">
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/facebook (2).png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/google-plus.png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/twitter.png' %}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--================Footer =================-->
	<script src="{% static 'webapp/js/validate_form_popup.js' %}"></script>
	<script src="{% static 'webapp/js/dropdown.js' %}"></script>
</body>
</html>