{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Thực đơn</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">    
    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <!-- Site CSS -->
    <!-- <link rel="stylesheet" href="css/style.css">     -->
    <!-- Responsive CSS -->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'webapp/styles/menu.css' %}">
	
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
    
<body>
    <!-- Start Contact info -->
    <div class="line"></div>
	<div class="contact-imfo-box">
		<div class="container">
			<p class="lead">
				<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
			</p>
			<p class="lead">
				<i class="fa fa-phone"></i>(028)38-647-XXX
			</p>
			<p class="lead">
				<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
			</p>
            <div class="row account">
				<a id="acc" href="#">
					<p class="lead" onclick="showAccOptions()">customer09</p>
					<div id ="op-active" class="acc-options">
						<ul>
							<li><a href="#">Thông tin tài khoản</a></li>
							<li><a href="#">Cài đặt</a></li>
							<li><a href="#">Đăng xuất</a></li>
						</ul>
					</div>
				</a>
				<i class="fa fa-user"></i>
			</div>
        </div>
    </div>
	<!-- End Contact info -->
	
	<!--================Header Menu Area =================-->
	<header>
		<div id="menu_bar"></div>
			<ul>
				<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
				<li><a href="{% url 'about' %}">Giới thiệu</a></li>
				<li><a href="{% url 'main-menu' %}" class="active">Thực đơn</a></li>
				<li><a href="{% url 'preference' %}">Ưu đãi</a></li>					
			</ul>
			<div class="search">
				<form>
					<input type="text" placeholder="  Tìm kiếm">
					<button><img src="{% static 'webapp/images/search.png' %}"></button> 
				</form>
			</div>
			<div class="logo_area">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
	</header>
	<section class="stall-list">
		<div class="row">
			<div class="col-xl-3">
				<i class="fa fa-circle"></i>
				<div class="overflow-hidden">
					<p>
						<a href="{% url 'stall-menu' %}">Yummy Mix</a>
					</p>
				</div><br>
				<i class="fa fa-circle"></i>
				<div class="overflow-hidden">
					<p>
						<a href="#">Coco Chaos</a>
					</p>
				</div><br>
				<i class="fa fa-circle"></i>
				<div class="overflow-hidden">
					<p>
						<a href="#">Red & Spicy</a>
					</p>
				</div><br>
				<i class="fa fa-circle"></i>
				<div class="overflow-hidden">
					<p>
						<a href="#">Meals Band</a>
					</p>
				</div><br>
				<i class="fa fa-circle"></i>
				<div class="overflow-hidden">
					<p>
						<a href="#">Square P</a>
					</p>
				</div><br>
			</div>
			<div class="col-xl-6">
				<div class="row">
					<div class="col-xl-6">
						<i class="fa fa-circle"></i>
						<div class="overflow-hidden">
							<p>
								<a href="#">Stall 6</a>
							</p>
						</div><br>
						<i class="fa fa-circle"></i>
						<div class="overflow-hidden">
							<p>
								<a href="#">Stall 7</a>
							</p>
						</div><br>
					</div>
					<div class="col-xl-6">
						<i class="fa fa-circle right-column"></i>
						<div class="overflow-hidden">
							<p class="right-column">
								<a href="#">Stall 8</a>
							</p>
						</div><br>
						<i class="fa fa-circle right-column"></i>
						<div class="overflow-hidden">
							<p class="right-column">
								<a href="#">Stall 9</a>
							</p>
						</div><br>
					</div>
				</div>
				<div class="row main-menu">
					<img id="orange-half-circle" src="{% static 'webapp/images/image 22.png' %}">
					<div class="order-icon">
						<a href="#"><img src="{% static 'webapp/images/order.png' %}" style="width: 50%; padding-top: 80px"></a>
						<div id="menu">
							<a href="{% url 'main-menu' %}">THỰC ĐƠN</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
				<i class="fa fa-circle right-column"></i>
				<div class="overflow-hidden" >
					<p class="right-column">
						<a href="#">Stall 10</a>
					</p>
				</div><br>
				<i class="fa fa-circle right-column"></i>
				<div class="overflow-hidden">
					<p class="right-column">
						<a href="#">Stall 11</a>
					</p>
				</div><br>
				<i class="fa fa-circle right-column"></i>
				<div class="overflow-hidden">
					<p class="right-column">
						<a href="#">Stall 12</a>
					</p>
				</div><br>
				<i class="fa fa-circle right-column"></i>
				<div class="overflow-hidden">
					<p class="right-column">
						<a href="#">Stall 13</a>
					</p>
				</div><br>
				<i class="fa fa-circle right-column"></i>
				<div class="overflow-hidden">
					<p class="right-column">
						<a href="#">Stall 14</a>
					</p>
				</div><br>
			</div>
		</div>
	</section>
	<!--================Header Menu Area =================-->

	<!--================Menu Area =================-->
	<div class="homepage-menu">
		<div class="path">
			<a href="{% url 'home-page' %}">Trang chủ</a> > <a href="{% url 'main-menu' %}"> Thực đơn</a>
			<div class="cart_icon">
				<a href="{% url 'shopping-cart' %}"><img src="{% static 'webapp/images/shopping-cart.png' %}" style="padding-left: 7px; padding-top: 8px"/></a>
				<span class="badge">0</span>
			</div>
			
		</div>
		<div class="stall-menu">
			<div id="myCarousel1" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel1" data-slide-to="1"></li>
				  <li data-target="#myCarousel1" data-slide-to="2"></li>
				</ol>
			  
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="row item active" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="{% url 'item-info' %}" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			  
					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel1" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel1" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="{% url 'stall-menu' %}" class="stall-name">YUMMY MIX</a>
		</div>
		<div class="line"></div>

		<div class="stall-menu">
			<div id="myCarousel2" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel2" data-slide-to="1"></li>
				  <li data-target="#myCarousel2" data-slide-to="2"></li>
				</ol>
			  
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="row item active" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			  
					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel2" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="#" class="stall-name">COCO CHAOS</a>
		</div>
		<div class="line"></div>

		<div class="stall-menu">
			<div id="myCarousel3" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel3" data-slide-to="1"></li>
				  <li data-target="#myCarousel3" data-slide-to="2"></li>
				</ol>
			  
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="row item active" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel3" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel3" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="#" class="stall-name">RED & SPICY</a>
		</div>
		<div class="line"></div>

		<div class="stall-menu">
			<div id="myCarousel4" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel4" data-slide-to="1"></li>
				  <li data-target="#myCarousel4" data-slide-to="2"></li>
				</ol>
			  
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="row item active" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			  
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel4" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel4" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="#" class="stall-name">MEALS BAND</a>
		</div>
		<div class="line"></div>

		<div class="stall-menu">
			<div id="myCarousel5" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
				  <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
				  <li data-target="#myCarousel5" data-slide-to="1"></li>
				  <li data-target="#myCarousel5" data-slide-to="2"></li>
				</ol>
			  
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="row item active" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row item" style="padding-left: 200px;">
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 61.png' %}" class="food-image">
								<a href="#" class="food-name">Gà Sốt Phô Mai</a>
								<div class="description">Những cơn mưa ngày hạ bất chợt kèm theo chút se lạnh là thời điểm thích hợp để ăn món gà phô mai Hàn Quốc...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">25,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 62.png' %}" class="food-image">
								<a href="#" class="food-name">Mì Spaghetti</a>
								<div class="description">Nếu bạn là tín đồ của ẩm thực phương Tây thì không thể bỏ qua mì Spaghetti...</div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">30,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
						<div class="item col-xl-3">
							<div class="infomation">
								<img src="{% static 'webapp/images/image 63.png' %}" class = "food-image">
								<a href="#" class="food-name">Cơm Trộn Hàn Quốc</a>
								<div class="description">Một trong những món ăn truyền thống của xứ sở Kim Chi... </div>
								<div class="fooditem-bottem">
									<div class="row">
										<div class="food-price">28,000</div>
										<button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel5" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel5" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="#" class="stall-name">SQUARE P</a>
		</div>
		<div class="line"></div>
		
		<div class="next-page">
			<div class="pagination">
				<a href="#">&laquo;</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">&raquo;</a>
			</div>
		</div>
		
	</div>
	<!--================Menu Area =================-->

	<!--================Footer =================-->
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="#"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-xl-4 copyright">
				Copyright © 2020 BK Food Court. All rights reserved.
			</div>
			<div class="col-xl-5">
				<div class="up-button">
					<a href="#"><img id="up-button-image" src="{% static 'webapp/images/Subtraction 3.png' %}"></a>
				</div>
			</div>
			<div class="col-xl-3">
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/facebook (2).png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/google-plus.png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/twitter.png' %}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--================Footer =================-->
	<script src="{% static 'webapp/js/dropdown.js' %}"></script>
	<script src="{% static 'webapp/js/order.js' %}"></script>
</body>
</html>