{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Yummy Mix </title>
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/styles/menustall.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'webapp/styles/font-awesome.min.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        
        <div class="head_background"></div>
        <!-- Start Contact info -->
        <div class="line"></div>
	 <div class="contact-imfo-box">
		<div class="container">
			<p class="lead">
				<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
			</p>
			<p class="lead">
				<i class="fa fa-phone"></i>(028)38-647-XXX
			</p>
			<p class="lead">
				<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
			</p>
			{% if user.is_authenticated %}
			<div class="row account">
				<a id="acc" href="#">
					<p class="lead" onclick="showAccOptions()">{{ user.username }}</p>
					<div id ="op-active" class="acc-options">
						<ul>
							<li><a href="#">Thông tin tài khoản</a></li>
							<li><a href="#">Cài đặt</a></li>
							<li><a href="{% url 'logout-page' %}?next={% url 'home-page' %}">Đăng xuất</a></li>
						</ul>
					</div>
				</a>
				<i class="fa fa-user"></i>
			</div>
			{% else %}
            <div class="row account">
				<a href="{% url 'login-page' %}">
					<p>ĐĂNG KÝ/ĐĂNG NHẬP</p>
				</a>
			</div>
			{% endif %}
        </div>
    </div>
        <!-- End Contact info -->

        <!--================ Header Menu Area =================-->
        <header> 
            <div id="menu_bar"></div>
                <ul>
                    <li><a href="{% url 'home-page' %}">Trang chủ</a></li>
                    <li><a href="{% url 'about' %}">Giới thiệu</a></li>
                    <li><a href="{% url 'main-menu' %}" class="active">Thực đơn</a></li>
                    <li><a href="{% url 'preference' %}">Ưu đãi</a></li>
                    
                </ul>
                <div class="search">
                    <form>
                        <input type="text" placeholder="  Tìm kiếm">
                        <button><img src="{% static 'webapp/images/search.png' %}"/></button> 
                    </form>
                </div>
                <div class="logo_area">
                    <a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""/></a>
                </div>
        </header>
        <div style="position: relative;">
            <img id="half_circle" src="{% static 'webapp/images/image 22.png' %}" style="top: 10px"/>
            <div class="stall_icon">
                <img src="{% static 'webapp/images/stall-icon.png' %}" width="100px"/>
            </div>
            <div class="stall_name">
                <a href="{{ stall.get_absolute_url }}">Yummy Mix</a>
            </div>
        </div>
        <!--================ Header Menu Area =================-->

        <!--================ Menu Area =================-->
        <section class="back_area">
            <div class="text_heading">
                <a href="#">Trang chủ</a><a href="{% url 'main-menu' %}"> > Thực đơn</a> > <a href="{{ stall.get_absolute_url }}"> Yummy Mix</a>
                {% if user.is_authenticated %}
                {% for group in request.user.groups.all %}
                    {% if group.name == 'Customer' %}
                        <div class="cart_icon">
                            <a href="{% url 'shopping-cart' %}"><img src="{% static 'webapp/images/shopping-cart.png' %}" style="padding-left: 7px; padding-top: 8px"/></a>
                            <span class="badge">0</span>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="filter">
                <p id="sortby">Sắp xếp theo</p>
                <div class="row">
                    <button style="margin-left: 230px">Bán chạy</button>
                    <button>Mới nhất</button>
                    <button style="width: 200px; text-align: right">Thứ tự chữ cái
                        <i class="fa fa-angle-down"></i>
                        <div class="alphabet">
                            <ul>
                                <li>Từ A-Z</li>
                                <li>Từ Z-A</li>
                            </ul>
                        </div>
                    </button>
                    <button style="width: 280px; text-align: right;">Giá
                        <i class="fa fa-angle-down"></i>
                        <div class="price">
                            <ul>
                                <li>Giá từ thấp đến cao</li>
                                <li>Giá từ cao đến thấp</li>
                            </ul>
                        </div>
                    </button>
                </div>
            </div>

            {% for item in page_obj %}
            <div class="items">
                <div class="food-image"><img src="{{ item.image.url }}" style="width: 250px;height: 132px; text-align: center;"></div>
                <div class="infomation">
                    <a href="#" class="food-name">{{ item.name }}</a>
                    <div class="description">{{ item.description }}</div>
                    <div class="row">
                        <div class="food-price">{{ item.price }} </div>
                        {% if user.is_authenticated %}
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'Customer' %}
                                <button class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
                            {% endif %}
                        {% endfor %}
						{% else %}
						<button class="alert-button"><i class="fa fa-shopping-cart"></i> Đặt hàng</button>
						{% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            
        
            <!-- Begin Pagination -->
            <div class="pagination" style="margin: 50px;">
                <span class="step-links">
                    <div class="current">
                        Trang {{ page_obj.number }} trên {{ page_obj.paginator.num_pages }}.
                    </div>
                    <br>
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Trang đầu</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Trang trước</a>
                    {% endif %}
                    
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Trang tiếp</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Trang cuối &raquo;</a>
                    {% endif %}
    
                    
                </span>
            </div>
            <!-- End Pagination -->
        </section>
        <!--================ End Menu Area =================-->
    <!--================Footer =================-->
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-xl-4 copyright">
				Copyright © 2020 BK Food Court. All rights reserved.
			</div>
			<div class="col-xl-5">
				<div class="up-button">
					<a href="#"><img id="up-button-image" src="{% static 'webapp/images/Subtraction 3.png' %}"></a>
				</div>
			</div>
			<div class="col-xl-3">
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/facebook (2).png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/google-plus.png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/twitter.png' %}"></a></li>
				</ul>
			</div>
		</div>
    </div>
    <!--================Footer =================-->
    <script src="{% static 'webapp/js/dropdown.js' %}"></script>
    <script src="{% static 'webapp/js/order.js' %}"></script>
	<script src="{% static 'webapp/js/unauthenticated_alert.js' %}"></script>
    
    </body>
</html>