{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
	<title>Thực đơn</title>  
	<link rel = "icon" href = "{% static 'webapp/images/logo-icon.ico' %}"  type = "image/x-icon"> 
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="author" content="">
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">    
    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <!-- Site CSS -->
    <!-- <link rel="stylesheet" href="css/style.css">     -->
    <!-- Responsive CSS -->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'webapp/styles/menu.css' %}">
	
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="{% static 'webapp/js/csrftoken.js' %}"></script>

</head>
    
<body>
    <!-- Start Contact info -->
    <div class="line"></div>
	 <div class="contact-imfo-box">
		<div class="container">
			<p class="lead">
				<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
			</p>
			<p class="lead">
				<i class="fa fa-phone"></i>(028)38-647-XXX
			</p>
			<p class="lead">
				<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
			</p>
			{% if user.is_authenticated %}
			<div class="row account">
				<a id="acc" href="#">
					<p class="lead" onclick="showAccOptions()">{{ user.username }}</p>
					<div id ="op-active" class="acc-options">
						<ul>
							{% if user.is_superuser == True or user.is_staff == True %}
							<li><a href="{% url 'admin:index' %}">Quản trị viên</a></li>
							{% endif %}
							{% if user.is_authenticated %}
							{% for group in request.user.groups.all %}
								{% if group.name == 'Customer' %}
									<li><a href="{% url 'profile' %}">Thông tin tài khoản</a></li>
								{% endif %}
								{% if group.name == 'Manager' %}
								<li><a href="{{ request.user.manager.own_stall.get_absolute_url }}">Chỉnh sửa Menu</a></li>
								{% endif %}
							{% endfor %}
							{% endif %}
							<li><a href="{% url 'logout-page' %}?next={% url 'home-page' %}">Đăng xuất</a></li>
						</ul>
					</div>
				</a>
				<i class="fa fa-user"></i>
			</div>
			{% else %}
            <div class="row account">
				<a href="{% url 'login-page' %}">
					<p>ĐĂNG KÝ/ĐĂNG NHẬP</p>
				</a>
			</div>
			{% endif %}
        </div>
    </div>
	<!-- End Contact info -->
	
	<!--================Header Menu Area =================-->
	<header>
		<div id="menu_bar"></div>
			<ul>
				<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
				<li><a href="{% url 'about' %}">Giới thiệu</a></li>
				<li><a href="{% url 'main-menu' %}" class="active">Thực đơn</a></li>
				<li><a href="{% url 'preference' %}">Ưu đãi</a></li>					
			</ul>
			<div class="search">
				<form method="GET" action="{% url 'search' %}">
					<input type="text" name="query" placeholder="  Tìm kiếm">
					<button type='submit'><img src="{% static 'webapp/images/search.png' %}"></button> 
				</form>
			</div>
			<div class="logo_area">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
	</header>
	<section class="stall-list">
		<div class="row main-menu">
			<img id="orange-half-circle" src="{% static 'webapp/images/image 22.png' %}">
			<div class="order-icon">
				<a href="#"><img src="{% static 'webapp/images/order.png' %}" style="width: 50%; padding-top: 80px"></a>
				<div id="menu">
					<a href="{% url 'main-menu' %}">THỰC ĐƠN</a>
				</div>
			</div>
		</div>
	</section>
	<!--================Header Menu Area =================-->

	<!--================Menu Area =================-->
	<div class="homepage-menu">
		<div class="path">
			<a href="{% url 'home-page' %}">Trang chủ</a> > <a href="{% url 'main-menu' %}"> Thực đơn</a>
			{% if user.is_authenticated %}
            {% for group in request.user.groups.all %}
                {% if group.name == 'Customer' %}
					<div class="cart_icon">
						<a href="{% url 'shopping-cart' %}"><img src="{% static 'webapp/images/shopping-cart.png' %}" style="position: absolute; width: 35px; left: 4px; top: 5px"/></a>
						<span class="badge">
							{% if order == 'none' %}
							0
							{% else %}
							{{ order.sum_item }} 
							{% endif %}
						</span>
					</div>
					{% endif %}
                {% endfor %}
            {% endif %}
			
		</div>
		{% for stall in page_obj %}
		<div class="stall-menu">
			<div id="{{ stall.id }}" class="carousel slide" data-ride="carousel">				
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					{% for item in items %}
						{% if item.belongs_to_stall.stallname == stall.stallname %}
						{% if forloop.first %}
							<div class="item active" style="padding-left: 200px;">
						{% else %}
							<div class="item" style="padding-left: 200px;">
						{% endif %}
							{% if item.available == True %}
								<div class="food-image"><img src="{{ item.image.url }}" style="width: 500px;height: 264px; text-align: center;"></div>
							{% else %}
								<div class="food-image"><img src="{{ item.image.url }}" style="width: 500px; height: 264px; text-align: center; filter: brightness(50%)">
									<p>Hết hàng</p>
								</div>
							{% endif %}
							<div class="infomation">
									<a href="{{ item.get_absolute_url }}" class="food-name">{{ item.name }}</a>
									<div class="description">{{ item.description }}</div>
									<div class="row">
										<div class="food-price">{{ item.price|intcomma }}<small>đ</small></div>
										{% if user.is_authenticated %}
										{% for group in request.user.groups.all %}
											{% if group.name == 'Customer' %}
												{% if item.available == True %}
													<button data-item="{{ item.id }}" data-action="add" class="order-button"> <i class="fa fa-shopping-cart"></i> Đặt hàng</button>
												{% else %}
													<button class="out-button">Hết hàng</button>
												{% endif %}
											{% endif %}
										{% endfor %}
										{% else %}
											{% if item.available == True %}
												<button class="alert-button"><i class="fa fa-shopping-cart"></i> Đặt hàng</button>
											{% else %}
												<button class="out-button">Hết hàng</button>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#{{ stall.id }}" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#{{ stall.id }}" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<a href="{{ stall.get_absolute_url }}" class="stall-name">{{ stall.stallname }}</a>
		</div>
		<div class="line"></div>
		{% endfor %}

		<div class="pagination" style="margin: 50px;">
			<span class="step-links">
				<div class="current">
					Trang {{ page_obj.number }} trên {{ page_obj.paginator.num_pages }}.
				</div>
				<br>
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo; Trang đầu</a>
					<a href="?page={{ page_obj.previous_page_number }}">Trang trước</a>
				{% endif %}
				
				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">Trang tiếp</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">Trang cuối &raquo;</a>
				{% endif %}

				
			</span>
		</div>
		
	</div>
	<!--================Menu Area =================-->

	<!--================Footer =================-->
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="#"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="row">
			<div class="col-xl-4 copyright">
				Copyright © 2020 BK Food Court. All rights reserved.
			</div>
			<div class="col-xl-5">
				<div class="up-button">
					<a href="#"><img id="up-button-image" src="{% static 'webapp/images/Subtraction 3.png' %}"></a>
				</div>
			</div>
			<div class="col-xl-3">
				<ul class="list-inline f-social">
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/facebook (2).png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/google-plus.png' %}"></a></li>
					<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/twitter.png' %}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!--================Footer =================-->
	<script src="{% static 'webapp/js/dropdown.js' %}"></script>
	<script src="{% static 'webapp/js/order.js' %}"></script>
	<script src="{% static 'webapp/js/unauthenticated_alert.js' %}"></script>

</body>
</html>