{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
	<title>Giỏ hàng</title>  
	<link rel = "icon" href = "{% static 'webapp/images/logo-icon.ico' %}"  type = "image/x-icon"> 
    <meta name="keywords" content="">
    <meta name="description" content="">
	<meta name="author" content="">
    <script src="https://sandbox.zalopay.com.vn/qrcode/public/js/zalopay.js?ver=1494921725335" type="text/javascript"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'webapp/styles/bootstrap.min.css' %}">   
	<link rel="stylesheet" href="{% static 'webapp/styles/font-awesome.min.css' %}">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Purecss -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'webapp/styles/item_info.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/styles/online-payment.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/styles/shopping_cart.css' %}">

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="{% static 'webapp/js/csrftoken.js' %}"></script>
</head>
    
<body>
        <!-- Start Contact info -->
        <div class="line"></div>
        <div class="contact-imfo-box">
			<div class="container">
				<p class="lead">
					<i class="fa fa-map-marker"></i>Đại học Bách Khoa - Cơ sở Dĩ An
				</p>
				<p class="lead">
					<i class="fa fa-phone"></i>(028)38-647-XXX
				</p>
				<p class="lead">
					<i class="fa fa-envelope"></i>foodcourt@hcmut.edu.vn
				</p>
				<div class="row account">
					<a id="acc" href="#">
						<p class="lead" onclick="showAccOptions()">{{ user.username }}</p>
						<div id ="op-active" class="acc-options">
							<ul>
								<li><a href="{% url 'profile' %}">Thông tin tài khoản</a></li>
								{% if user.is_authenticated %}
								{% for group in request.user.groups.all %}
									{% if group.name == 'Manager' %}
									<li><a href="{{ request.user.manager.own_stall.get_absolute_url }}">Chỉnh sửa Menu</a></li>
									{% endif %}
								{% endfor %}
								{% endif %}
								<li><a href="{% url 'logout-page' %}?next={% url 'home-page' %}">Đăng xuất</a></li>
							</ul>
						</div>
					</a>
					<i class="fa fa-user"></i>
				</div>
			</div>
		</div>
        <!-- End Contact info -->

	<!--=============== Start Header Menu Area ===============-->
    <div class="head-background">
	    <header>
		    <div id="menu_bar"></div>
			    <ul>
				    <li><a href="{% url 'home-page' %}">Trang chủ</a></li>
				    <li><a href="{% url 'about' %}">Giới thiệu</a></li>
				    <li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
				    <li><a href="{% url 'preference' %}">Ưu đãi</a></li>				
			    </ul>
			<div class="search">
				<form>
					<input type="text" placeholder="  Tìm kiếm">
					<button><img src="{% static 'webapp/images/search.png' %}"></button> 
				</form>
			</div>
			<div class="logo_area">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
            </div>
        </header>
        <div>
			<img id="half_circle" src="{% static 'webapp/images/image 22.png' %}"/>
			<img src="{% static 'webapp/images/shopping-cart.png' %}" alt="" class="cart-icon">
			<div class="cart_name">
				<a href="#">GIỎ HÀNG</a>
			</div>
        </div>
    </div>
    <!--=============== End Header Menu Area ===============-->

	<div class = "row" style="margin-top: 50px;">
	<!--=============== Start Item Area ===================-->
		<div style="background-color: white; margin-left: 50px;">
			{% for item in items %}
			<div style="position: relative;"> 
				<div class="item-image" style="float: left;">
					<img src="{{ item.item.image.url }}"  style="width: 300px">
				</div>
				<br>
				
				<div class="item-detail" style="float: left; margin-left: 40px">
					<label style="font-family: 'SegoeUI_Bold'; font-size: 30px" id="item-name-url"><a href="{{ item.item.get_absolute_url }}" style="color: black">{{ item.item.name }}</a></label>
					
					<div class="item-title1" style=" font-size: 25px; margin-left: 0px;">
						<div style="float: left; font-family: 'SegoeUI_Semibold'">Số lượng:</div>
						<div class="item-quantity">
							<button data-item={{ item.item.id }} data-action="remove" class="dcrs order-button">-</button>
							<div class="quantt">{{ item.quantity }}</div>
							<button data-item={{ item.item.id }} data-action="add" class="icrs order-button">+</button>
						</div>
					</div>
				</div>
				<hr style="border-top: 1px solid #828282; margin-top: 220px; width: 820px;;">
				<div style=" font-size: 20px; float: left; margin-left: 40px;"><button data-item={{ item.item.id }} data-action="delete" class="order-button removebutton">Xoá</button></div>
				<p style="color: #000; font-family: 'SegoeUI_Bold'; font-size: 30px; float: right; margin-right: 40px;">{{ item.get_sum }}</p>
				<div style="padding: 30px"></div>
			</div>
			{% endfor %}
		</div>
	<!--=============== End Item Area   ===================-->

	<!--=============== Cart total price area   ===================-->
		<div style="margin-left: 50px;">
			<form onsubmit="return false;" method="POST" style="height: 450px;margin-top: 40px; margin-right: 40px;">
				{% csrf_token %}
				<div  class="row" style="text-align: left; color: #000; font-family: 'SegoeUI_Bold'; font-size: 20px">
					<p style="text-align: left; margin-left: 15px;">{{ order.sum_item }} món</p>
					<p style="text-align: right; margin-left: 190px;">{{ order.sum_price }}</p>
				</div>
				<hr style="border-top: 1px solid #FE7A19;">
				<input type="text" name="name" placeholder="Nhập mã ưu đãi"
				style="border: 1px solid #FDCF76;padding-bottom: 15px;padding-top: 15px;width: 100%;margin-top: 4px;margin-bottom: 10px;padding-left: 5px;">
				<br>
				<div>
					<button type="submit" style="margin-top: 15px;" class="signinbtn">Áp dụng</button>
				</div>
				<br>
				<hr style="border-top: 1px solid #FE7A19;">
				<p style="float: left; color: #000; font-family: 'SegoeUI_Bold'; font-size: 25px">Tổng cộng</p>
				<p style="float: right; color: #FE7A19; font-family: 'SegoeUI_Bold'; font-size: 30px">{{ order.sum_price }}</p>
				<div style="margin-top: 80px;">
					<a href="{{ order.get_checkout_url }}" style="border: 1px solid #FE7A19; margin-top: 15px; background-color: #FE7A19; color: #ffffff; font-family: 'SegoeUI_Bold'; font-size: 18px" class="btn signinbtn">THANH TOÁN</a>
				</div>
				<div>
					<a href="{% url 'main-menu' %}" style="border: 1px solid #FE7A19; margin-top: 15px; background-color: #ffffff; color: #FE7A19; font-family: 'SegoeUI_Bold'; font-size: 18px" class="btn signinbtn">Tiếp tục đặt hàng</a>
				</div>
			</form>	
		</div>
	</div>
	<!--=============== End cart total price   ===================-->	

    <!--================Footer =================-->
	<div class="footer-above">
		<div class="row">
			<div class="footer-logo">
				<a href="{% url 'home-page' %}"><img src="{% static 'webapp/images/logo.png' %}" alt=""></a>
			</div>
			<div class="row footer-side">
				<div class="catalogue-title">
					<ul> 
						<li>DANH MỤC</li>
						<li>TRỢ GIÚP</li>
						<li>THÔNG TIN</li>
					</ul>
				</div>
				<div>
					<ul> 
						<li class="catalogue">
							<ul>
								<li><a href="{% url 'home-page' %}">Trang chủ</a></li>
								<li><a href="{% url 'about' %}">Giới thiệu</a></li>
								<li><a href="{% url 'main-menu' %}">Thực đơn</a></li>
								<li><a href="{% url 'preference' %}">Ưu đãi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Hỗ trợ</a></li>
								<li><a href="#">Liên hệ với chúng tôi</a></li>
							</ul>
						</li>
						<li class="catalogue">
							<ul>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Điều khoản sử dụng</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="row">
				<div class="col-xl-4 copyright">
					Copyright © 2020 BK Food Court. All rights reserved.
				</div>
				<div class="col-xl-5">
					<div class="up-button">
						<a href="#"><img id="up-button-image" src="{% static 'webapp/images/Subtraction 3.png' %}"></a>
					</div>
				</div>
				<div class="col-xl-3">
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/facebook (2).png' %}"></a></li>
						<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/google-plus.png' %}"></a></li>
						<li class="list-inline-item"><a href="#"><img src="{% static 'webapp/images/twitter.png' %}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!--================Footer =================-->
	<script src="{% static 'webapp/js/order.js' %}"></script>
	<script src="{% static 'webapp/js/dropdown.js' %}"></script>
</body>
</html>