@charset "utf-8";
@font-face
{
	font-family: 'SegoeUI_Regular';
	src: url('../fonts/segoeui.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_Semibold';
	src: url('../fonts/seguisb.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_Bold';
	src: url('../fonts/segoeuib.ttf')  format('truetype');
}
@font-face
{
	font-family: 'SegoeUI_SemiItalic';
	src: url('../fonts/seguisbi.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Bebas_Bold';
	src: url('../fonts/BebasNeueBold.ttf')  format('truetype');
}
.contact-imfo-box .container{
	display: flex;
    padding: 10px;
	margin-left: 15px;
	position: relative;
}

.account {
	position: absolute;
	right: 0px;
}

.contact-imfo-box{
	background: #D9D9D9;
}

.overflow-hidden {
    overflow: hidden;
}

.contact-imfo-box i{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: left;
	color: #828282;
	font-size: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.contact-imfo-box p {
    margin: 0px 0px 0px 20px;
    color: #828282;
	text-align: left;
	line-height: 10px;
    font-weight: 600;
    font-size: 12px;
    font-family: "SegoeUI_Regular";
	font-style: italic;
}
.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0px;
	padding: 0;
}
.lead a:hover
{
	color: #fff;
	text-decoration: none;
}
.account a:hover
{
	text-decoration: none;
}

.acc-options
{
	display: none;
	top: 7px;
}
.acc-options ul
{
	list-style-type: none;
	text-align: right;	
}
.acc-options ul li
{
	font-family: 'SegoeUI_Semibold';
	font-size: 13px;
}
.acc-options ul li a
{
	color: #000;
}
.acc-options ul li a:hover
{
	color: #1488DB;
	text-decoration: none;
}
.line{
	background: #1488DB;
	position: relative;
    padding: 2px;
    margin: 0;
}
header
{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	top: 87px;
	background: #FE7A19;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
header ul
{
	font-family: 'Bebas_Bold';
	font-size: 20pt;
	list-style-type: none;
	text-align: center;
}
header ul li
{
	color: #fff;
	display: inline-table;
	width: 150px;
	height: 90px;
	line-height: 90px;
}
header ul li a
{
	color: #fff;
	text-decoration: none;
	display: block;
}
header .active, header ul li a:hover
{
	background: #ff4f00;
	color: #000;
	text-decoration: none;
}
header .search
{
	position: relative;
	float: right;
	top: -90px;
}
header input[type=text]
{
	border: none;
	font-size: 13pt;
	position: absolute;
	right: 70px;
	top: 15px;
	width: 150px;
	height: 33px;
}
header .search button
{
	float: right;
	border: none;
	background: #fff;
	right: 0px;
	top: 15px;
	position: absolute;
	margin-right: 30px;
	cursor: pointer;
	width: 40px;
	height: 33px;
}
.logo_area
{
	position: absolute;
	width: 219px;
	height: 219px;
	left: 20px;
	top: -70px;
}
body
{
	margin: 0;
	padding: 0;
	font-family: 'SegoeUI_Regular';
	background: url(../images/background.png);
	background-size: 1366px auto;
}
.back_area
{
	top: 145px;
	position: relative;
	padding: 50px 50px 100px 50px;
	margin-top: -200px;
	margin-bottom: 145px;
	background: #FCE8DA;
}
#half_circle
{
	position: relative;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 35%;
}
.order_icon
{
	position: absolute;
	left: 46%;
	top: 380px;
}
.order_name
{
	position: relative;
	text-align: center;
	font-family: 'Bebas_Bold';
	top: -80px;
	font-size: 35px;
}
.order_name a
{
	text-decoration: none;
	color: #fff;
	display: block;
}
.order_name a:hover
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.order_status
{
    background-color: #fff;
}
.order_status .order_code
{
    font-family: 'Bebas_Bold';
    font-size: 25px;
    color: #000;
    text-align: center;
    padding-top: 30px;
}
.order_status .progress
{
    height: 250px;
    background: none;
    counter-reset: step;
}
.order_status .progress li
{
    position: relative;
    display: inline-table;
    width: 300px;
    text-align: center;
    list-style-type: none;
    font-family: 'SegoeUI_Bold';
    font-size: 18px;
    color: #828282;
    margin-top: 100px;
    
}
.progress li::before
{
    content: '';
    width: 25px;
    height: 25px;
    line-height: 25px;
    border: none;
    display: block;
    text-align: center;
    color: #fff;
    margin: 0px auto 10px auto;
    border-radius: 50px;
    background: #D9D9D9;
}
.order_status .progress li::after
{
    content: '';
    position: absolute;
    width: 93%;
    height: 4px;
    background-color: #d9d9d9;
    top: 12px;
    left: -46.5%;
}
.order_status .progress li.active
{
    color: #FE7A19;
}
.order_status .progress li.active::before
{

    background: url(../images/tick.png) no-repeat center;
}
.order_status .progress li.active::after
{
    background: #FE7A19;
}
.footer-logo{
	padding: 10px 80px;
}

.footer-above .text{
	margin: 80px 20px;
}

.redirection-list{
	margin: 0;
}

.redirection-list ul li{
	display: inline;
	margin: 60px;
}

.list-inline-item a img{
	width: 30px;
	left: 0%;
	bottom: 0%;
	margin-left: 20px;
}

.row div ul, .catalogue-title ul li{
	list-style-type: none;
	padding: 10px 50px;
	font-family: "Bebas_Bold";
	font-size: 20px;
	color: #FE7A19;
}

.catalogue li{
	display: inline;
	padding: 20px;
	font-family: "SegoeUI_Regular";
	font-size: 15px;
	color: #FFFFFF;
}

.catalogue
{
	margin-left: -150px;
}

.catalogue li a{
	color: #FFFFFF;
}
.catalogue li a:hover{
	color: #FDCF76;
	text-decoration: none;
}
.footer-side{
	margin-top: 40px;
}
.copyright{
	color: #FE7A19;
	position: relative;
	left: 80px;
	bottom: 0%;
	padding-top: 30px;
}

#up-button-image{
	display: block;
	position: absolute;
	left: 118px;
	width: 25%;
}
