{% if maintenance_mode %}

{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> BK Food Court </title>
        <link rel = "icon" href = "{% static 'webapp/images/logo-icon.ico' %}"  type = "image/x-icon"> 
        <link rel="stylesheet" href="{% static 'users/styles/bootstrap.min.css' %}">     
        <style>
            body{
                background: #FE7A19;
            }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-md-6" style="margin: 15% 0 0 8%; color: #fff">
                <h1>BK Food Court Website sẽ trở lại trong thời gian sớm nhất!</h1>
                <p>Hiện tại hệ thống đang trong chế độ bảo trì. Xin lỗi vì sự bất tiện này!</p>
            </div>
            <div class="col-md-4" style="margin: 5% 0 0 0">
                <img style="width: 100%" src="{% static 'webapp/images/503.png' %}"/>
            </div>
        </div>
    </body>
</html>

{% endif %}
